page-leaguea {
  .mat-header-row {
    background-color: #388e3c;
    padding: 0 10px;
  }

  .mat-row:nth-child(even) {
    background-color: #cae5ae;
  }
  .mat-row {
    border-bottom-style: none;
    padding: 0 10px;
  }
  .mat-row:nth-child(odd) {
    background-color: #a1e4a3;
  }
  .resWidthClass {
    flex: 0 0 40px;
    word-wrap: normal;
    text-align: center;
  }
  .posWidthClass {
    flex: 0 0 30px;
  }
  .nameWidthClass {
    flex: 0 0 125px;
  }
  .wWidthClass {
    flex: 0 0 35px;
  }
  .gdWidthClass {
    flex: 0 0 45px;
  }
  .ptsWidthClass {
    flex: 0 0 45px;
  }
}
